<htlm>

	<head>
		
		
        <link rel="stylesheet" href="./css/style.css">
	</head>

	<body>


			<div class = "banner" > 

				<div class="app-text"> 
						<h1> D-CLIC <br> Venez nous voir </h1>
						<p>Prenez contact avec nous. </p>
						<div class="play-btn"> 
							<div class="play-btn-inner"> 
								
							</div>
						</div>
				</div>

			    <div class="app-picture-contact" >
					<img src="./image/image_contact.jpg">

				</div> 


				<body>
					<h2>Notez la formation</h2>
				
				<div>
				  <form action="/action_page" method="POST">
					<label for="fname">First Name</label>
					<input type="text" id="fname" name="firstname" placeholder="Your name.." required>
				
					<label for="lname">Last Name</label>
					<input type="text" id="lname" name="lastname" placeholder="Your last name..">
				
					<label for="avis">Votre avis</label>
					<input type="text" id="avis" name="avis" placeholder="donnez votre avis sur la formation.." required>
				
					<label for="Note">Note (entre 1 à 5)</label>
					<input type="number" id="Note" name="note" min="1" max="10" placeholder="votre note .." required>
				
					<label for="formation">Formation</label>
					<select id="formation" name="formation">
					  <option value="Frontend">Frontend</option>
					  <option value="Backend">Backend</option>
					  <option value="Marketing">Marketing</option>
					  <option value="UX-UI">UX-UI</option>
					</select>
				  
					<input type="submit" value="Submit" name="submit_button">
				  </form>
				</div>
				
				
				
				</body>
				



			</div>
		</div>

	</body>

</html>
